

*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	background-color: #c8c8c8;
}
button{
	position: relative;
	background-color: #FFD685;
	margin: auto;
    width: 60%;
	height: 100px;
	padding 10px;
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid #3D2E4C;
	box-shadow: 0 10px 6px -6px #777;
}
header{
	
	border: 15px solid #6E9983;
	margin: 5px 10px 5px 10px;
	background: #B8FFDB;
	border-radius: 3px;
	min-height: 250px;
}
header img{
	 float: right;
	 margin-right: 20px;
	 margin-top: 20px;
	 border-radius:3px;
	 height: auto;
	 width: auto;
	 max-height: 200px

}
header p{
	text-align: center;
}
h1{
	font-family: 'Vidaloka', serif;
	font-size: 35px;
	text-align: center;
	margin-top: 40px
}

h2{
	font-family: 'Vidaloka', serif;
	text-align: center;
	color:#4A4943;
	font-size: 28px;
}
h3{
	font-family: 'Vidaloka', serif;
	text-align: center;
	color:#4A4943;
	font-size: 28px;
}
nav{
	
	margin: 15px auto 15px auto;
	text-align: center;
}
nav a{
	margin: auto;
	display: inline-block;
}
nav li{
	box-shadow: 0 10px 6px -6px #777;
	display: inline;
	background-color: #867499;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px
	padding-bottom:5px;
	margin: 10px;
	border-radius: 4px;
	font-size:20px;
	border: 2px solid #3D2E4C;
}
nav a{
	text-decoration: none;
	color: #E7E3EB;
}
section h3{
	text-align: left;
	font-family: 'Vidaloka', serif;
	font-size: 24px;
}
section a{
	color:black;
	font-size: 20px;
}
section{
	margin: 20px;
}
article{
	font-family: "alice";
	font-size: 16px;
	background-color:#B8DBFF;
	box-shadow: 0 10px 6px -6px #777;
	border-radius :5px;
	padding:15px;
	margin: 20px;
	padding:20px;
}
section h3{
	padding-left: 20px
}
article ul{
	padding-left: 10px;
}
article img{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	height: auto;
	width: auto;
	max-height: 100px;
	max-width: 100px;
	border: 1px solid black;
	border-radius: 5px;
	background: white;
	
}
.skills article{
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	font-family: "alice";
	font-size: 16px;
	background-color: #E0C2FF;
	border:2px solid black;
	border-radius :5px;
	padding:25px;
	margin: auto;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	max-width: 700px;
}
.skills li{
	display: inline;
	padding: 10px 10px 10px 10px;

}
.education article{
	min-height: 125px;
}
.experience article{
	min-height: 125px;
}
footer{
	color: #f8f8f8;
	margin: 15px;
	text-align: center;
}

